*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
.col{
    float: left;
    padding: 10px;
}
  
.left {
    width: 20%;
    background-color: aqua;
    height: 100%;
    text-align: center;
}
  
.right {
    width: 80%;
}

.left2{
    width: 50%;
}

.right2{
    width: 50%;
}

.regform{
    margin: 10px;
}

.errorp{
    color: red;
}

.topdiv{
    background-color: darkblue;
    color: white;
    padding: 10px;
}

.nava{
    color: white;
    margin-left: 5px;
}


.divadmin{
    background-color: rgb(0, 233, 233);
    width: 100%;
    padding: 40px;
}

.searchbyusername{
    padding: 8px;
}

.divuser{
    background-color: rgb(0, 216, 216);
    width: 100%;
    padding: 40px;
}

.logout{
    color: white;
}